body .site-main{
  position:relative;
  top:78px;
  margin:auto;
  max-width:1064px;
  padding-left:.75rem;
  padding-right:.75rem;
  padding-top:1.25rem
}

.woocommerce ul.products,.woocommerce-page ul.products{
  margin:auto;
  display:flex;
  max-width:1064px;
  flex-wrap:wrap;
  justify-content:center;
  padding-top:0.75rem
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
  display:flex;
  flex-direction:column
}

ul>li.product>a.woocommerce-LoopProduct-link.woocommerce-loop-product__link>h2{
  text-align:center
}

ul>li.product>a.woocommerce-LoopProduct-link.woocommerce-loop-product__link>.price{
  display:flex;
  justify-content:center
}

ul>li.product>:is(.add_to_cart_button,.ajax_add_to_cart,.product_type_external,.product_type_grouped){
  --tw-bg-opacity:1;
  background-color:rgb(51 51 51 / var(--tw-bg-opacity));
  text-align:center;
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity))
}

.woocommerce span.onsale{
  top:1rem;
  left:1rem;
  z-index:5;
  display:flex;
  height:var(--height-onsale);
  min-height:unset;
  width:2.5rem;
  min-width:unset;
  align-items:center;
  justify-content:center;
  border-radius:0.5rem;
  --tw-bg-opacity:1;
  background-color:rgb(174 66 63 / var(--tw-bg-opacity));
  --height-onsale:30px;
  line-height:var(--height-onsale);
  font-size:14px
}

body ul.products li.product>a.woocommerce-LoopProduct-link.woocommerce-loop-product__link>span.onsale{
  top:1rem;
  right:1rem
}

.woocommerce ul.products li.product .price del{
  font-size:12px
}

.woocommerce ul.products li.product .price ins{
  margin:0 4px
}

.woocommerce ul.products li.product .price .woocommerce-Price-amount{
  margin:0 5px
}

@media (width< 768px){
  .woocommerce ul.products[class*=columns-] li.product,.woocommerce-page ul.products[class*=columns-] li.product{
    padding:1rem
  }
}

body,html{
  font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body{
  margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  max-width:1600px
}

ol,ul{
  list-style-type:none;
  padding:0px
}

a{
  text-decoration:none;
  color:inherit
}

*{
  box-sizing:border-box
}

ins{
  text-decoration:none
}

.customize-partial-edit-shortcut button,.widget .customize-partial-edit-shortcut button{
  left:-10px;
  top:-6px
}

.woocommerce div.product form.cart div.quantity{
  display:flex
}

.woocommerce div.product form.cart div.quantity .container-minus-plus>:is(.plus-btn,.minus-btn){
  cursor:pointer;
  padding-left:0.625rem;
  padding-right:0.625rem;
  text-align:center;
  font-weight:900;
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity))
}

.woocommerce div.product form.cart div.quantity .container-minus-plus .plus-btn{
  --tw-bg-opacity:1;
  background-color:rgb(101 163 13 / var(--tw-bg-opacity))
}

.woocommerce div.product form.cart div.quantity .container-minus-plus .plus-btn:focus{
  outline-style:solid;
  outline-width:4px;
  outline-color:#84cc16
}

.woocommerce div.product form.cart div.quantity .container-minus-plus .minus-btn{
  --tw-bg-opacity:1;
  background-color:rgb(220 38 38 / var(--tw-bg-opacity))
}

.woocommerce div.product form.cart div.quantity .container-minus-plus .minus-btn:focus{
  outline-style:solid;
  outline-width:2px;
  outline-color:#ef4444
}

.woocommerce td.product-quantity{
  max-width:100px
}

.woocommerce td.product-quantity .quantity{
  width:100%;
  margin:0;
  position:relative;
  border:1px solid #d3d3d3
}

.woocommerce .quantity .qty{
  width:inherit;
  max-width:100%;
  border:none
}

.woocommerce td.product-quantity .quantity .container-minus-plus{
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  display:flex;
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity))
}

.woocommerce td.product-quantity .quantity .container-minus-plus .plus-btn{
  position:absolute;
  right:0px;
  order:2;
  cursor:pointer;
  --tw-bg-opacity:1;
  background-color:rgb(101 163 13 / var(--tw-bg-opacity));
  padding-left:0.75rem;
  padding-right:0.75rem
}

.woocommerce td.product-quantity .quantity .container-minus-plus .minus-btn{
  position:absolute;
  left:0px;
  order:1;
  cursor:pointer;
  --tw-bg-opacity:1;
  background-color:rgb(220 38 38 / var(--tw-bg-opacity));
  padding-left:0.75rem;
  padding-right:0.75rem
}

.single-product .related h2{
  margin-top:20px
}